
@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('../fonts/avenir/avenirnext-ultralight.ttf') format('truetype'),
         url('../fonts/avenir/avenirnext-ultralight.svg#AvenirNextUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/avenir/avenirnext-regular.ttf') format('truetype'),
         url('../fonts/avenir/avenirnext-regular.svg#AvenirNextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextDemiBold';
    src: url('../fonts/avenir/avenirnext-demibold.ttf') format('truetype'),
         url('../fonts/avenir/avenirnext-demibold.svg#AvenirNextDemiBold') format('svg');
         font-weight: normal;
         font-style: normal;
}
